[Unit]
Description=tiny-fax: Token refresh service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/tiny-fax/dist/bin/tf_printer
Restart=always
RestartSec=5
WorkingDirectory=/opt/tiny-fax/dist/bin
StandardOutput=append:/opt/tiny-fax/logs/printer.log
StandardError=append:/opt/tiny-fax/logs/printer_errors.log

[Install]
WantedBy=multi-user.target
