[Unit]
Description=tiny-fax: Token refresh service
Wants=tf_refresh.timer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=sudo /opt/tiny-fax/dist/bin/tf_refresh
WorkingDirectory=/opt/tiny-fax/dist/bin
StandardOutput=append:/opt/tiny-fax/logs/refresh.log
StandardError=append:/opt/tiny-fax/logs/refresh_errors.log

[Install]
WantedBy=multi-user.target
